USE [bd2]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan_ingrijire](
	[id_plan] [int] NOT NULL,
	[id_angajat] [int] NOT NULL,
	[id_rezident] [numeric](13, 0) NOT NULL,
	[Obiective] [nchar](100) NOT NULL,
	[Progres] [int] NOT NULL,
	[Ultima_alerta] [nchar](1000) NULL,
 CONSTRAINT [PK_Plan_ingrijire] PRIMARY KEY CLUSTERED 
(
	[id_plan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Plan_ingrijire] ([id_plan], [id_angajat], [id_rezident], [Obiective], [Progres], [Ultima_alerta]) VALUES (32, 5, CAST(2351014652396 AS Numeric(13, 0)), N'Imbunatatirea functiei cognitive                                                                    ', 70, NULL)
INSERT [dbo].[Plan_ingrijire] ([id_plan], [id_angajat], [id_rezident], [Obiective], [Progres], [Ultima_alerta]) VALUES (43, 5, CAST(2390301297453 AS Numeric(13, 0)), N'Gestionarea activitatilor cronice, Imbunatatirea mobilitatii                                        ', 50, NULL)
GO
ALTER TABLE [dbo].[Plan_ingrijire]  WITH CHECK ADD  CONSTRAINT [FK_Plan_ingrijire_Angajati] FOREIGN KEY([id_angajat])
REFERENCES [dbo].[Angajati] ([ID])
GO
ALTER TABLE [dbo].[Plan_ingrijire] CHECK CONSTRAINT [FK_Plan_ingrijire_Angajati]
GO
ALTER TABLE [dbo].[Plan_ingrijire]  WITH CHECK ADD  CONSTRAINT [FK_Plan_ingrijire_Rezident] FOREIGN KEY([id_rezident])
REFERENCES [dbo].[Rezident] ([CNP])
GO
ALTER TABLE [dbo].[Plan_ingrijire] CHECK CONSTRAINT [FK_Plan_ingrijire_Rezident]
GO
